---
---

@import "{{ site.theme }}";

html {
  background: red;
}

footer {
  color: #eaeaea;
}

header, .wrapper {
  background: white;
}

header ul {
  background: red;
}

header ul li {
  border-right: 0
}